<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0f1626" />
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="apple-touch-icon" href="./images/icons/icon-192.png" />
    <title>Foodiest</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="manifest" href="./app.webmanifest" />
  </head>

  <body>
    <a href="#content" class="skip-link">Skip to content</a>
    <header class="header">
      <a href="#" class="logo"> <i class="fas fa-utensils"></i> Foodiest </a>

      <div class="icons">
        <button id="hamburger" class="fas fa-bars"></button>
      </div>
      <nav class="navbar" id="drawer">
        <a href="/">home</a>
        <a href="#/favorite">Favorite</a>
        <a href="https://www.instagram.com/fatihur.r/" target="_blank"
          >About Us</a
        >
      </nav>
    </header>

    <main id="content" tabindex="0"></main>
    <footer class="footer">
      <div class="bottom">
        <div class="credit"><span>Foodiest</span> | 2023</div>
      </div>
    </footer>
  </body>
</html>
